@model GüzellikSalonuSistemi.Models.GüzellikSalonu

<div class="jumbotron">
    <h1>Güzellik Salonu: @Model.Adı</h1>
    <p>Adres: @Model.Adres</p>
    <p>Telefon: @Model.Telefon</p>
    <p>E-posta: @Model.Eposta</p>
</div>
