@model IEnumerable<GüzellikSalonuRandevuSistemi.Models.Kuaför>

<h2>Kuaförler</h2>

<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Uzmanlık Alanı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kuaför in Model)
        {
            <tr>
                <td>@kuaför.Adı</td>
                <td>@kuaför.UzmanlıkAlanı</td>
                <td><a href="@Url.Action("KuaförSec", new { id = kuaför.Id })">Seç</a></td>
            </tr>
        }
    </tbody>
</table>
