@model IEnumerable<GüzellikSalonuSistemi.Models.Randevu>

<h2>Randevularım</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kuaför</th>
            <th>İşlem</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>@randevu.Kuaför.Adı</td>
                <td>@randevu.İşlem.Adı</td>
                <td>@randevu.RandevuTarihi</td>
            </tr>
        }
    </tbody>
</table>
